<div style="margin-top:-60px;">


<%= form_for(@job , :html => { :class => 'form-horizontal' ,:onsubmit => "return validateForm();"} ) do |f| %>

    <div class="col-lg-3 column ui-sortable" >
         <b style="font-size:20px;">Who are you?</b><br/><br/>
	     <div class="form-group">
		    <%= f.label :name %>
		      <%= f.text_field :name ,:class => "form-control",:style => "width:220px;"%>
		      <span  style="display:none;" class="error">Please provide a name. </span>
		  </div>
	      
	       <div class="form-group">
		    <%= f.label :email %>
     	     <%if params[:action] =='edit'%>
		        <%= text_field_tag 'job[email]' , @job.job_emails.first.email,:class => "form-control",:readonly => 'true',:style => "width:220px;"%>
		     <%else%>
		         <%= text_field_tag 'job[email]' , nil,:class => "form-control",:style => "width:220px;"%>
		      <%end%>
		   
		  </div>
		   
	</div>
	  <div class="col-lg-1 column ui-sortable" >
	    <img src="/assets/arrowleft.png"  style="margin-top: 30px;"></img>
	  </div>
     
     <div class="col-lg-4 column ui-sortable">
          <b style="font-size:20px;">Where are you in the process?</b><br/><br/>
	      <div class="form-group">
		     <%= f.label 'Your stage'%>
                 <input type="radio" name="job[stage]" id="job_stage" value="Stage1" checked="checked">
			      Perm
			      <input type="radio" name="job[stage]" id="job_stage" value="Stage2">
			      Labor
			      <input type="radio" name="job[stage]" id="job_stage" value="Stage3">
			      I-140
			      <input type="radio" name="job[stage]" id="job_stage" value="Stage4">
			      I-485
		     <span style="display:none;" class="error">Please provide a stage. </span>
		  </div>
	      
	      <div class="form-group">
	           <%= f.label 'Your category' %>
		       <label><%= f.select :category, options_for_select({ "EB1" => "Category1", "EB2" => "Category2" , "EB3" => "Category3"}), {prompt: "Select a Category"},{class: "form-control",:style => "width:200px;"} %></label>
		  </div>
	      
	       <div class="form-group">
	          <%= f.label :country %>
	          <%= f.country_select :country, ["Australia"] ,:class => "form-control" ,:style => "width:200px;"%>
		  </div>
	      </div>
     
       <div class="col-lg-1 column ui-sortable" >
	    <img src="/assets/arrowleft.png"  style="margin-top: 30px;"></img>
	  </div>
	<div class="col-lg-3 column ui-sortable"> 
	     <b style="font-size:20px;">How long have you waited?</b><br/><br/>
	     <div class="form-group">
		    <%= f.label :start_date %>
    	    <%= f.text_field :start_date , :placeholder => "yyyy-mm-dd" ,:class => "form-control",:style => "width:220px;", :onfocus => "this.placeholder = ''" , :onblur => "this.placeholder = 'yyyy-mm-dd'"  %>
		    <span style="display:none;" class="error">Please provide a start date. </span>
		  </div>
		  
		   <div class="form-group">
			    <%= f.label :end_date%>
			    <%= f.text_field :end_date , :placeholder => "Blank if ongoing" ,:class => "form-control",:style => "width:220px;",  :onfocus => "this.placeholder = ''" , :onblur => "this.placeholder = 'Blank if ongoing'" %>
			 </div>
		   
		  <div class="form-group">
           <%= f.submit "Submit", :class => 'btn btn-lg btn-danger active' ,:style => "float: right;margin-right: 75px;"%>
         </div>
         
	 </div>
       
	  
	  
 <% end %>
</div>
<br/><br/>
<br/><br/>