<div style="margin-top:-60px;">
<%= form_for(@job , :html => { :class => 'form-horizontal' ,:onsubmit => "return validateForm();"} ) do |f| %>
    <%= f.label :name ,:class => 'control-label'%>
    
    <%= f.text_field :name ,:class => "form-control" , :style => "width:100px;"%>
    <span  style="display:none;" class="error">Please provide a name. </span>
    <%= f.label :stage, :class => 'control-label'%>
  
    <%= f.select :stage, options_for_select({ "Stage1" => "Stage1", "Stage2" => "Stage2" , "Stage3" => "Stage3",  "Stage4" => "Stage4"}), {prompt: "Select a Stage"}, {class: "form-control",:style => "width:170px;"} %>
    <span style="display:none;" class="error">Please provide a stage. </span>
 
    <%= f.label :start_date,:class => 'control-label' %>
   
    <%= f.text_field :start_date , :placeholder => "yyyy-mm-dd" ,:class => "form-control",:style => "width:100px;" %>
    <span style="display:none;" class="error">Please provide a start date. </span>
    
    <%= f.label :end_date,:class => 'control-label' %>
    <%= f.text_field :end_date , :placeholder => "yyyy-mm-dd" ,:class => "form-control",:style => "width:200px;" %>
    <span style="display:none;" class="error"><br/>Please provide a end date. </span>
    <span style="display:none;" class="error"><br/>End date should be greater than start date. </span>
       
   <%= f.label :category,:class => 'control-label' %>
   <%= f.select :category, options_for_select({ "Category1" => "Category1", "Category2" => "Category2" , "Category3" => "Category3"}), {prompt: "Select a Category"},{class: "form-control",:style => "width:200px;"} %>
   <br/> 
   <%= f.label :email,:class => 'control-label' %>
   <%if params[:action] =='edit'%>
     <%= text_field_tag 'job[email]' , @job.job_emails.first.email,:class => "form-control",:readonly => 'true' %>
   <%else%>
     <%= text_field_tag 'job[email]' , nil,:class => "form-control" , :style => "width:200px;"%>
   <%end%>
      
  <%= f.label :country,:class => 'control-label' %>
  <%= f.country_select :country, ["United States"] ,:class => "form-control" ,:style => "width:200px;"%></div>
 
  <%= f.submit "Send", :class => 'button'%>
 <% end %>
</div>
<br/><br/>