<div style="">

<%= form_for(@job , :html => { :class => 'form-horizontal' ,:onsubmit => "return validateForm();"} ) do |f| %>
    
    <div class="col-lg-4 column ui-sortable">
         <b style="font-size:20px;">Who are you?</b><br/><br/>
	     <div class="form-group">
		    <%= f.label :name %>
		      <%= f.text_field :name ,:class => "form-control",:style => "width:220px;"%>
		      <span  style="display:none;" class="error">Please provide a name. </span>
		  </div>
	      
	       <div class="form-group">
		    <%= f.label :email %>
     	     <%if params[:action] =='edit'%>
		        <%= text_field_tag 'job[email]' , @job.job_emails.first.email,:class => "form-control",:readonly => 'true',:style => "width:220px;"%>
		     <%else%>
		         <%= text_field_tag 'job[email]' , nil,:class => "form-control",:style => "width:220px;"%>
		      <%end%>
		   
		  </div>
	</div>
	
     <br/>
     <div class="col-lg-4 column ui-sortable">
          <b style="font-size:20px;">Where are you in the process?</b><br/><br/>
	      <div class="form-group">
		     <%= f.label 'Your stage'%>
                 <input type="radio" name="job[stage]" id="job_stage" value="Stage1" checked="checked">
			      1
			      <input type="radio" name="job[stage]" id="job_stage" value="Stage2">
			      2
			      <input type="radio" name="job[stage]" id="job_stage" value="Stage3">
			      3
			      <input type="radio" name="job[stage]" id="job_stage" value="Stage4">
			      4
		     <span style="display:none;" class="error">Please provide a stage. </span>
		  </div>
	      
	      <div class="form-group"  data-role="fieldcontain">
	           <%= f.label 'Your category' %>
		       <label><%= f.select :category, options_for_select({ "1" => "Category1", "2" => "Category2" , "3" => "Category3"}), {prompt: "Select a Category"},{class: "form-control",:style => "width:200px;"} %></label>
		  </div>
	      
	       <div class="form-group"  data-role="fieldcontain">
	          <%= f.label :country %>
	          <%= f.country_select :country, ["United States"] ,:class => "form-control" ,:style => "width:200px;"%>
		  </div>
		  
		  
     </div>
     
     <br/>
	<div class="col-lg-4 column ui-sortable"> 
	     <b style="font-size:20px;">How long have you waited?</b><br/><br/>
	     <div class="form-group">
		    <%= f.label :start_date %>
    	    <%= f.text_field :start_date , :placeholder => "yyyy-mm-dd" ,:class => "form-control",:style => "width:220px;" %>
		    <span style="display:none;" class="error">Please provide a start date. </span>
		  </div>
		  
		   <div class="form-group">
			    <%= f.label :end_date%>
			    <%= f.text_field :end_date , :placeholder => "yyyy-mm-dd" ,:class => "form-control",:style => "width:220px;" %>
			    <span style="display:none;" class="error">Please provide a end date. </span>
			    <span style="display:none;" class="error">End date should be greater than start date. </span>
		    </div>
		    <div class="form-group">
           <%= f.submit "Send", :class => 'button'%>
         </div>
	 </div>
       
	  
	  
 <% end %>
</div>
