<div class="col-md-12 column ui-sortable">
				
 <div class="box box-element ui-draggable" style="display: block;">
  	
	<div class="view">

 <h2 class="text-left"></h2>
 
 <table  class="table table-bordered" style="text-align:left;">
  <thead>
     <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Category</th>
      <th>Stage</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.job_emails.first.email%></td>
        <td><%= job.category %></td>
        <td><%= job.stage %></td>
        <td><%= job.start_date %></td>
        <td><%= job.end_date %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', '/' %>

</div>
</div>
</div>