<div class="col-md-12 column ui-sortable">
				
			<div class="box box-element ui-draggable" style="display: block;">
  	
	<div class="view">

 <h2 class="text-left">Job Details</h2>
  <hr style="border-bottom:1px solid gray;"/>
 <table contenteditable="true" class="table table-striped" style="text-align:left;">
 
<tr>
  <td>Name</td>
  <td><%= @job.name %></td>
</tr>

<tr>
  <td>Email</td>
  <td><%= @job.job_emails.first.email %></td>
</tr>

<tr>
  <td>Stage</td>
  <td><%= @job.stage %></td>
</tr>

<tr>
  <td>Start Date:</td>
  <td><%= @job.start_date %></td>
</tr>

<tr>
  <td>End Date:</td>
  <td><%= @job.end_date %></td>
</tr>

</table> 
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

 </div>
</div>
</div>
