<div class="col-md-12 column ui-sortable">
				
			<div class="box box-element ui-draggable" style="display: block;">
  	
	<div class="view">

 <h2 class="text-left">Categories</h2>
  <hr style="border-bottom:1px solid gray;"/>
 <table contenteditable="true" class="table table-striped" style="text-align:left;">
  <thead>
     <tr>
     <th>Name</th>
     <th></th>
     <th></th>
     <th></th>
     </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>

</div>
</div>
</div>
