<!DOCTYPE html>
<html>
  <head>
  
    <title><%= content_for?(:title) ? yield(:title) : "Self Serve" %></title>
   
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap-datepicker" %>
    <%= csrf_meta_tags %>
    <title>Stages</title>
		
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet" />

	
		
		<script src="/assets/jquery.dropotron.min.js"></script>
		<script src="/assets/config.js"></script>
		<script src="/assets/skel.min.js"></script>
		<script src="/assets/skel-panels.min.js"></script>
		
			<%= stylesheet_link_tag "skel-noscript" %>
			<%= stylesheet_link_tag "style" %>		
   <%= stylesheet_link_tag "style-mobile" %>
   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
   
    <script src="/assets/Chart.js"></script>
	
		<style>
			canvas{
			}
		.ui-select .ui-btn select { opacity: 0; }
        @-moz-document url-prefix() {.ui-select .ui-btn select { opacity: 0.0001; }}
</style>
  </head>
  <body class="homepage">
  <!-- Header Wrapper -->
  <div >
  
			<div id="header-wrapper" >
				<div class="container">
				 <%= render 'layouts/messages' %>
					<div class="row">
						<div class="12u">
						
							<!-- Header -->
								<section id="header">
									
									<!-- Logo -->
										<h1><a href="javascript:void(0);">Stages</a></h1>
									
									<!-- Nav -->
										<%#= render 'layouts/navigation' %>
								</section>

						</div>
					</div>
					<div class="row">
						<div class="12u" >
							    <%= yield %>
						</div>
					</div>
				</div>
			</div>
		
					</div>
					
		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				
				<!-- Footer -->
					<section id="footer" class="container">
						<div class="row">
							<div class="8u">
		
					</section>
				
			</div>
   
  </body>
</html>

<script>
$(document).ready(function() {
          setTimeout(function(){$(".alert-success").fadeOut( "slow" );},4000);   
   });
   
function validateForm(){ 
      var success = true;
	  if ($('#job_name').val() == '')
	    {
	      $('#job_name').next().show();
	      success = false;
	    }
	  else
		{
			$('#job_name').next().hide();
			 
		}
	
	  if ($('#job_stage').val() == '' )
	    {
	      //$('#job_stage').next().show();
	     // success = false;
	    }
	  else
		 {
		 //  $('#job_stage').next().hide();
		 
		 }
	  if ($('#job_start_date').val() == '' )
	    {
	      $('#job_start_date').next().show();
	      success = false;
	    }
	  else
		 {
		   $('#job_start_date').next().hide();
		 
		 }
	if ($('#job_end_date').val() == '' )
	    {
	      $('#job_end_date').next().show();
	     success = false;
	    }
	  else
		 {
		   $('#job_end_date').next().hide();
		 }
	if ($('#job_end_date').val() != '' && ($('#job_end_date').val() < $('#job_start_date').val()) )
	    {
	      $('#job_end_date').next().next().show();
	      success = false;
	    }
	  else
		 {
		   $('#job_end_date').next().next().hide();
		 }
	 
	return success;
   }


       
    </script>
