<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title><%= content_for?(:title) ? yield(:title) : "Self Serve" %></title>
   
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap-datepicker" %>
    <%= csrf_meta_tags %>
    <title>Stages</title>
		
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet" />



			<%= stylesheet_link_tag "style" %>		
   <%= stylesheet_link_tag "style-mobile" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
   
    <script src="/assets/Chart.js"></script>
	
		<style>
		body.ui-mobile-viewport, div.ui-mobile-viewport {
			    overflow-x: visible;
			}
			canvas{
			}
			

</style>
  </head>
  <body data-role="page">
  <!-- Header Wrapper -->
  <div >
  
			<div id="header-wrapper" >
				<div class="container">
				 <%= render 'layouts/messages' %>
					<div class="row">
						<div class="12u">
						
							<!-- Header -->
								<section id="header">
									
									<!-- Logo -->
										<h1><a href="javascript:void(0);">Stages</a></h1>
									
									<!-- Nav -->
										<%#= render 'layouts/navigation' %>
								</section>

						</div>
					</div>
					<div class="row">
						<div class="12u" data-role="content" >
							    <%= yield %>
						</div>
					</div>
				</div>
			</div>
		
					</div>
					
		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				
				<!-- Footer -->
					<section id="footer" class="container">
						<div class="row">
							<div class="8u">
		
					</section>
				
			</div>
   
  </body>
</html>
<script type="text/javascript">
   $('#job_country').selectmenu({'refresh': true});
</script>

